<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <title>Images to PDF</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
      <div class="container">
            <form action="/img-to-pdf/" method="post" enctype="multipart/form-data">
                  <div class="form-group">
                        <label for="file">Select images</label>
                        <input class="form-control-file" type="file" name="file" id="file" multiple>
                  </div>
                  <button type="submit" class="btn btn-success">Convert and Download</button>
            </form>
      </div>

</body>

</html>